@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Righteous&display=swap');

:root {
    --text-button: #222222;
    --background-color: #f2f2f2;
    --header-background-color: #003060;
    --text-subtitle: #68bbe3;
    --text-color: #6b6b6b;

    --background-cards: linear-gradient(
        93deg,
        #003060 0%,
        #0e86d4 50%,
        #68bbe3 90%
    );
}

.clear-sky {
    --background-cards: linear-gradient(
        90deg,
        #003060 0%,
        #0e86d4 50%,
        #68bbe3 90%
    );
}

.clouds {
    --background-cards: linear-gradient(
        90deg,
        #003060 0%,
        #0e86d4 50%,
        #68bbe3 90%
    );
}

.rain {
    --background-cards: linear-gradient(
        90deg,
        #242e2e 0%,
        #28404b 40%,
        #2d5a69 70%
    );
}

.storm {
    --background-cards: linear-gradient(
        90deg,
        #161f3c 0%,
        #303348 15%,
        #484660 80%
    );
}

.night {
    --background-cards: linear-gradient(
        90deg,
        #020024 0%,
        #1d254f 15%,
        #193296 75%
    );
}

.snow {
    --background-cards: linear-gradient(
        90deg,
        #4a90a5 0%,
        #7ea9c8 35%,
        #b3c7d6 90%
    );
}

.mist {
    --background-cards: linear-gradient(
        90deg,
        #6e7c96 0%,
        #8c97ab 40%,
        #a5b1c1 90%
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
}
